<!-- src/app/info-box/info-box.component.html -->
<div *ngIf="formSubmitted; else formEntry">
  <h4>{{ thankyouMessage }}</h4>
  <p>{{ formData.name }}, our newsletter is on its way to your inbox!</p>
</div>
<ng-template #formEntry>
  <h4>{{ signupTitle }}</h4>
  <p>Get cool news and tips on the latest blockchain Angular-powered AI 5G stuff</p>
  <form  >
    <div>
      <label>Name:</label>
      <input type="text" name="name" >
    </div>
    <div>
      <label>Email:</label>
      <input type="text" name="email" >
    </div>
    <div>
      <button type="submit" >Sign up!</button>
    </div>
  </form>
</ng-template>
